<article class="blog-post" style="background: white; border-radius: 50px; padding: 35px">
  <h2 class="display-5 link-body-emphasis mb-1">{{blogpost.title}}</a></h2>
  <p>{{blogpost.text}}</p>
  <p class="blog-post-meta">by: {{blogpost.user.name}}</p>
  <p>Created on:{{format_date blogpost.createdAt}}</p>
  <p>Last updated on:{{format_date blogpost.updatedAt}}</p>
</article>
<section>
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        {{#if loggedIn}}
        <div class="card text-dark"
          style="margin-left: 150px; margin-right: 150px; margin-bottom: 40px; height: 270px;">
          <div class="card-body p-4">
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput2">
                  <h4>Leave a comment</h4>
                </label>
                <input style="height: 100px;" type="text" class="form-control" id="new-comment"
                  placeholder="What's your thought?">
              </div>
              <br>
              <button onclick="leaveComment({{blogpost.id}})" type="button" class="btn btn-success">Send</button>
            </form>

            <br>
            <br>
          </div>
          {{/if}}
          <div style="color: white; font-weight: 700;font-size: medium;">
          <h4 style="font-size: xx-large;" class="mb-0">Recent comments</h4>
          <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
          </div>
          <hr class="my-0" />
          {{#each comments as |comment|}}
          <div style=" margin-bottom: 10px; background: white; border-radius: 50px; padding: 35px" class="card-body p-4">
            <div class="d-flex flex-start">
              <div>
                <h6 class="fw-bold mb-1">{{user.name}} {{format_date comment.createdAt}}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">{{comment.text}}</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<script src="/js/blogpost.js"></script>