<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">{{title}}</a></h2>
    <p>{{text}}</p>
    <p class="blog-post-meta">{{created_by}} by: {{user.name}}</p>
    <p>Created on:{{format_date createdAt}}</p>
    <p>Last updated on:{{format_date updatedAt}}</p>
    {{!-- <p>{{pf:dateTimeFormat createdAt "EEE, MMMM DD, YYYY" }}</p> --}}
</article>
<hr>
<h1>Comments on this thread.....</h1>
<p>{{0.text}}</p>
<p>by: {{0.user.name}}</p>
