
<h3>Create a new blogpost</h3>
<form style="margin-bottom: 50px;">
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" class="form-control" id="new-title" value="{{blogpost.title}}">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Text</label>
    <input type="text" class="form-control" id="new-text" value="{{blogpost.text}}">
  </div>
  <br>
  <button style="margin-left: auto; margin-right: auto;" onclick="writeBlogpost()" type="button" class="btn btn-success">Create New Post</button>
</form>


<h3>Previously Written Posts</h3>
<br>
{{#each blogposts as |blogpost|}}
<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><a href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a></h2>
<br>
<br>
<button onclick="document.location.assign('/edit/{{blogpost.id}}')" type="button" class="btn btn-warning">Edit</button>
<button onclick="deletePost({{blogpost.id}})" type="button" class="btn btn-danger">Delete</button>
</article>
<hr>
{{/each}}

<script src="/js/dashboard.js"></script>