
<h3 style="color: white;">Create a new blogpost</h3>
<div style="margin-bottom: 50px; padding: 35px; border-radius: 50px; background: rgb(206, 204, 204)">
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" class="form-control" id="new-title" value="{{blogpost.title}}">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Text</label>
    <input type="text" class="form-control" id="new-text" value="{{blogpost.text}}">
  </div>
  <br>
  <button onclick="writeBlogpost()" type="button" class="btn btn-success">Create New Post</button>
</form>
</div>

<h3 style="color: white;">Previously Written Posts</h3>
<br>
{{#each blogposts as |blogpost|}}
<article class="blog-post" style="background: white; border-radius: 50px; padding: 35px">
    <h2 class="display-5 link-body-emphasis mb-1"><a href="/blogposts/{{blogpost.id}}">{{blogpost.title}}</a></h2>
<br>
<br>
<button onclick="document.location.assign('/edit/{{blogpost.id}}')" type="button" class="btn btn-warning">Edit</button>
<button onclick="deletePost({{blogpost.id}})" type="button" class="btn btn-danger">Delete</button>
</article>
<hr>
{{/each}}

<script src="/js/dashboard.js"></script>