<h1>Edit Post</h1>
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" class="form-control" id="edit-title" value="{{blogpost.title}}">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Text</label>
    <input type="text" class="form-control" id="edit-text" value="{{blogpost.text}}">
  </div>
  <br>
  <button onclick="updatePost({{blogpost.id}})" type="button" class="btn btn-success">Update Post</button>
</form>

{{!-- <form>
  <textarea id="edit-title" name="w3review" cols="50">{{blogpost.title}}</textarea>
  <textarea id="edit-text" name="w3review" cols="50">{{blogpost.text}}</textarea>
  <br>
</form>
  <Button onclick="test()">Edit Post</Button> --}}

<script src="/js/edit.js"></script>